.flex-container
  section#Portafolio.content.escalerin
    hr
    h2 Videojuegos
    hr
    
    //- Haunted House
    article.mb-5
      h1 Haunted House
      p
        | Este videojuego fue desarrollado por mí, mezcla distintas mecánicas 
        | para un juego en 3D, como lo puede ser el shooter, las plataformas 
        | y la sobrevivencia.
      
      .row.g-3
        .col-md-6
          figure
            img.img-fluid.sombras(
              src='/images/Haunted House SC/menu inicio.png'
              alt='Menú Principal'
            )
            figcaption Menú Principal del juego.
        
        .col-md-6
          figure
            img.img-fluid.sombras(
              src='/images/Haunted House SC/sc2.png'
              alt='Mensaje introductorio'
            )
            figcaption Mensaje introductorio.
    
    hr
    h2 Multimedia
    hr
    
    //- Revista
    article.mb-5
      h1 Revista amateur
      p
        | Para una práctica tuve que crear mi propia revista acerca de un tema 
        | que me interesara, así que aprovechando las épocas lo hice acerca de 
        | los Game Awards.
      
      .row.g-3
        .col-md-6
          figure
            img.img-fluid.sombras(
              src='/images/Revista/7.jpg'
              alt='Portada'
            )
        .col-md-6
          figure
            img.img-fluid.sombras(
              src='/images/Revista/0.jpg'
              alt='Contraportada'
            )
          figcaption Portada y Contraportada.
    
    hr
    h2 Ilustración
    hr
    
    .row.g-4
      .col-md-6
        figure
          img.img-fluid.sombras(
            src='/images/isotipo blanco y negro.png'
            alt='Isotipo'
          )
          figcaption Isotipo de Yalik Studios.
      
      .col-md-6
        figure
          img.img-fluid.sombras(
            src='/images/Ilustración/Bahavad Gita Caapítulo 17.png'
            alt='Cómic'
          )
          figcaption Cómic acerca del capítulo 17 del Bahavad Gita.
  
  aside.sidebar.escalerin-side